.paddingall{
    padding: 10px 10px 10px 10px;
}

.gradient{
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 0.027) 0%,blue) 100%;
}

.gradient1{
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 0.027) 0%,rgb(0, 255, 55)) 100%;
    
}

.gradient2{
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 0.027) 0%,rgb(255, 30, 0)) 100%;
}

.gradient3{
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(238, 235, 235, 0.247) 0%,rgba(188, 206, 188, 0.801))00%;
    border-color: black;
    border-radius: 10px;
}

.bg{
    background: rgb(0, 0, 0);
    background: linear-gradient(158deg, rgb(0, 0, 0) 0%,rgb(0, 0, 0)) 100%;
    
}

.custom-label {
    font-size: 2px; /* Adjust the font size here */
  }


.custom-radio-group .MuiSvgIcon-root {
    font-size: 12px; /* Adjust the font size here */
    margin-right: 1px; /* Adjust the spacing between the radio button and label here */
  }
  